.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(71, 134, 255, 0.4) 0%,
    rgba(71, 134, 255, 0) 100%
  );
  background: url('../../../../assets/images/bg_tokens.png');
  height: $appHeight;
  width: $appWidth;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.empty {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  margin-top: 3px;
  width: 39px;
  height: 39px;
}

.nft {
  cursor: pointer;
  user-select: none;
  &:active {
    opacity: 0.7;
  }
}
