.cont {
  position: fixed;
  height: 40px;
  text-align: center;
  line-height: 16px;
  top: 500px;
  padding: 0 25px;
  z-index: 200;
  border-radius: 25px;
  display: flex;
  width: 100vw;
}

.noop {
  display: none;
}

.content {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin: auto;
  width: fit-content;
  display: inline-block;
  background: #212226;
  padding: 12px 48px;
  border-radius: 25px;
}
