.page {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: $appHeight;
  position: relative;
  background: url('../../../../assets/images/bg_nft_details.png');
}

.fullImage {
  width: 375px;
  height: 430px;
  //background: url('../../../../assets/images/nft_bg.png');
  position: absolute;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainCont {
  position: absolute;
  z-index: 10;
}

.action {
  background: #2496ff;
  border-radius: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fafbfb;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 22px;
  margin: 300px 24px 30px;
  cursor: pointer;
  user-select: none;

  &:active {
    opacity: 0.7;
  }
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 20px;
  padding: 24px 30px 8px 24px;
}

.subtitle {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 22px;
  /* or 19px */

  color: #ffffff;
}

.price {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.subtitleCont {
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}
.sep {
  opacity: 0.15;
  border: 1px solid #ffffff;
  margin: 12px;
}

.creatorIcon {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
.creatorCont {
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.creatorSubtitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 150%;
  /* identical to box height, or 15px */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  opacity: 0.35;
}

.creatorTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #ffffff;
}
.creatorInfo {
  margin-left: 12px;
}
