// media
@mixin largeMedia {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin mediumMedia {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@mixin smallMedia {
  @media screen and (max-width: 720px) {
    @content;
  }
}

@mixin extraSmallMedia {
  @media screen and (max-width: 565px) {
    @content;
  }
}

// gradient border
@mixin gradientBorder {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: double 4px transparent;
    @content;
    -webkit-mask: linear-gradient($textColor 0 0) padding-box,
      linear-gradient($textColor 0 0);
    mask: linear-gradient($textColor 0 0) padding-box,
      linear-gradient($textColor 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
}
