@import '~advanced-css-reset/dist/reset.css';

// Add your custom reset rules here

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

img:not([alt]), img:not([height]), img:not([width]) {
  filter: unset;
}