// colors
$black: #0d0d0d;
$greyWhite: #f3f3f3;
$skyBlue: #8892b0;

// fonts
$nunito: 'Nunito', sans-serif;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;


 $appWidth: 375px;
 $appHeight: 600px;
 $headerHeight: 64px;
 $accountBackground: #000;
 $accountDotsIconColor: #8E8E8E;
 $addAccountImageBackground: #1A1B20;
 $backButtonBackground: #3A3B41;
 $backButtonBackgroundHover: #3a3b41ad;
 $backButtonTextColor: #FFFFFF;
 $background: #040A0E;
 $bodyColor: #000;
 $borderRadius: 4px;
 $boxBorderColor: #303030;
 $boxMargin: 0.75rem 0;
 $boxPadding: 0 0.25rem;
 $boxShadow: rgba(0, 0, 0, 0.86);
 $buttonBackground: #2496FF;
 $buttonBackgroundDanger: #AF1111;
 $buttonBackgroundDangerHover: #D93B3B;
 $buttonBackgroundHover: #1B63A6;
 $buttonTextColor: #FFFFFF;
 $errorBorderColor: #7E3530;
 $errorColor: #E42F2F;
 $fontFamily: 'Poppins', sans-serif;
 $fontFamilyMono: 'DM Mono', monospace;
 $fontSize: 14px;
 $highlightedAreaBackground: #212226;
 $iconDangerColor: #AF1111;
 $iconNeutralColor: #8E8E8E;
 $iconWarningColor: #2496FF;
 //$id: dark;
 $identiconBackground: #F4F5F8;
 $inputBackground: #111218;
 $inputBorderColor: #43444B;
 $inputLabelFontSize: 10px;
 $labelColor: #9F9E99;
 $labelFontSize: 13px;
 $labelLineHeight: 18px;
 $lineHeight: 26px;
 $parentLabelColor: #4A7463;
 $popupBackground: #38393FEE;
 $primaryColor: #2496FF;
 $readonlyInputBackground: #1A1B20;
 $subTextColor: #DDD;
 $textColor: #FFFFFF;
 $textColorDanger: #FF8686;
 $tokenLogoBackground: #FFFFFF;
 $moonLightGrey: #FAFBFB;
 $usdBalance: #7f8284