// colors
$black: #0d0d0d;
$greyWhite: #f3f3f3;
$skyBlue: #8892b0;

// font weights
$thin: 100;
$exlight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$exbold: 800;
$exblack: 900;

$appWidth: 375px;
$appHeight: 600px;
$headerHeight: 64px;
$accountBackground: #000;
$accountDotsIconColor: #8e8e8e;
$addAccountImageBackground: #1a1b20;
$backButtonBackground: #3a3b41;
$backButtonBackgroundHover: #3a3b41ad;
$backButtonTextColor: #ffffff;
$background: #040a0e;
$bodyColor: #000;
$borderRadius: 4px;
$boxBorderColor: #303030;
$boxMargin: 0.75rem 0;
$boxPadding: 0 0.25rem;
$boxShadow: rgba(0, 0, 0, 0.86);
$buttonBackground: #2496ff;
$buttonBackgroundDanger: #af1111;
$buttonBackgroundDangerHover: #d93b3b;
$buttonBackgroundHover: #1b63a6;
$buttonTextColor: #ffffff;
$errorBorderColor: #7e3530;
$errorColor: #e42f2f;
$fontFamily: 'Poppins', sans-serif;
$fontFamilyMono: 'DM Mono', monospace;
$fontSize: 14px;
$highlightedAreaBackground: #212226;
$iconDangerColor: #af1111;
$iconNeutralColor: #8e8e8e;
$iconWarningColor: #2496ff;
//$id: dark;
$identiconBackground: #f4f5f8;
$inputBackground: #111218;
$inputBorderColor: #43444b;
$inputLabelFontSize: 10px;
$labelColor: #9f9e99;
$labelFontSize: 13px;
$labelLineHeight: 18px;
$lineHeight: 26px;
$parentLabelColor: #4a7463;
$popupBackground: #38393fee;
$primaryColor: #2496ff;
$readonlyInputBackground: #1a1b20;
$subTextColor: #ddd;
$textColor: #ffffff;
$textColorDanger: #ff8686;
$tokenLogoBackground: #ffffff;
$moonLightGrey: #fafbfb;
$usdBalance: #7f8284;
