// fonts styles
@import 'fonts';

// mixins
@import 'mixins';

// reset styles
@import 'reset';

// variable styles
@import 'variable';

* {
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
