body {
  font-family: Poppins;
}
.App {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.App-Body {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: -40vmin;
  right: calc(35%);
  border-radius: 50%;
}

.App-logo {
  animation: spin infinite 250s linear;
}

.App-logo-connected {
  -moz-box-shadow: 0 0 15px 15px rgba(43, 115, 255, 0.5);
  -webkit-box-shadow: 0 0 15px 15px rgba(43, 115, 255, 0.5);
  box-shadow: 0 0 15px 15px rgba(43, 115, 255, 0.5);
}

.App-header {
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 4px 24px;
}

.App-header-title {
  flex: 1;
  font-size: 26px;
}

.App-link {
  color: #61dafb;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('./stars.png') repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url('./twinkling.png') repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.selectedAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 10px;
  border-radius: 18px;
  border: 1px solid #1b63a6;
  font-size: 14px;
  background: rgb(43, 115, 255);
}

.selectedAccount:hover {
  cursor: pointer;
}

.addressSelector {
  border-radius: 4px;
  border: 1px solid #303030;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.86);
  margin-top: 60px;
  position: absolute;
  max-height: 300px;
  overflow: auto;
  z-index: 2;
}

.addressItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #38393fee;
  font-size: 12px;
}

.addressItem:hover {
  background-color: #1b63a6;
  cursor: pointer;
}
