.page {
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/images/bg_dapp.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s;
    backdrop-filter: blur(20px);
    z-index: 0;
  }

  @include mediumMedia {
    &::before {
      opacity: 1;
      backdrop-filter: blur(5px);
    }
  }

  @include smallMedia {
    &::before {
      opacity: 0;
      backdrop-filter: blur(0);
    }
  }

  .inner {
    z-index: 1;
    width: 375px;
    height: 600px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;

    section.header {
      display: block;
      text-align: right;
    }

    section.content {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .url {
        border-radius: 14px;
        background: rgba(90, 89, 126, 0.39);
        backdrop-filter: blur(7px);
        padding: 8px 7px;
        width: 100%;
        box-sizing: border-box;

        & > span {
          width: 100%;
          height: 100%;
          background: rgba(90, 89, 126, 0.39);
          backdrop-filter: blur(7px);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          height: 57px;
          font-size: 18px;
          line-height: 27px;
          color: rgba($textColor, 0.51);
        }
      }

      & > label {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: $textColor;
        margin-top: 22px;
      }

      & > span {
        margin-top: 44px;
        text-align: center;
        font-size: 13px;
        line-height: 16px;
        color: rgba($textColor, 0.51);
        width: 286px;
        display: block;
      }

      & > .accounts {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    section.footer {
      margin-top: auto;
      display: flex;
      flex-direction: column;

      .info {
        margin-bottom: 40px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        backdrop-filter: blur(8px);
        background: rgba(36, 150, 255, 0.22);
        font-size: 16px;
        font-weight: 500;
        color: $textColor;
        position: relative;

        @include gradientBorder {
          border-radius: 14px;
          border-width: 2px;
          background: linear-gradient(90deg, transparent, rgba(#2496ff, 0.22));
        }
      }

      .actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
      }
    }
  }
}
