.container {
  background: $black;
  width: $appWidth;
  height: $appHeight;
  color: $greyWhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > div {
  width: $appWidth !important;
  height: $appHeight !important;
}
