.container {
  background: $black;
  width: $appWidth;
  height: $appHeight;
  color: $greyWhite;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
