.page {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    background: url('../../../../assets/images/bg_wallet_details.png');
  }
  .pageloading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    width: auto;
  }
  
  .backTransButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }
  
  .backTransButton:active {
    opacity: 0.7;
  }
  
  .transColIcon {
    margin-right: 8px;
    margin-top: 2px;
  }
  
  .transCont {
    backdrop-filter: blur(7px);
    height: 568px;
    width: 343px;
    margin: 16px;
    border: 1px solid #2496ff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    overflow: hidden;
  }
  
  .transTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
  
    text-align: center;
  
    /* Brand / Moonlight Grey / 100% */
    color: #e6e9ed;
  }
  
  .transItem {
    border-bottom: 1px solid #ffffff1a;
    padding: 23px 0;
    display: flex;
    width: calc(340px - 32px);
    overflow: hidden;
    cursor: pointer;
    user-select: none;
  
    &:active {
      opacity: 0.7;
    }
  }
  
  .transColStatus {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 21px;
  }
  .transSubColTime {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
  
    color: #fafbfb;
  
    opacity: 0.54;
    display: flex;
    align-items: center;
  }
  
  .transSubColPrice {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
  
    color: #fafbfb;
  
    opacity: 0.54;
  }
  
  .transColAction {
    display: flex;
    align-self: center;
  }
  
  .transColValue {
    align-items: flex-end;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    text-align: end;
    flex: 1;
  }
  .transSubColDot {
    width: 2px;
    height: 2px;
    margin: 0 3px;
    border-radius: 6px;
    background: #989da9;
  }
  
  .transItems {
    height: 502px;
    overflow: hidden scroll;
  }
  