.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(71, 134, 255, 0.4) 0%,
    rgba(71, 134, 255, 0) 100%
  );
  background: url('../../../../assets/images/bg_tokens.png');
  height: $appHeight;
  width: $appWidth;
}
.updateTime {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #a5acbb;
  margin-bottom: 22px;
}
.ethWrapContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.ethWrapText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 0px 0px 0px !important;
}
.logo {
  height: 31.98548126220703px;
  width: 32.000003814697266px;
}
.downArrowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #0f1726;
  border: 2px solid rgba(255, 255, 255, 0.16);
  box-sizing: border-box;
  border-radius: 50px;
  position: absolute;
  top: 127px;
  z-index: 1;
}
.internetCompWrapContainer {
  margin: 16px;
  background: rgba(90, 89, 126, 0.39);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  padding: 10px 16px 16px 16px;
  width: calc(100vw - 32px);
  height: fit-content;
}
.ethIconContainer {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.ethTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 16px;
  padding-left: 30.5px;
  padding-right: 30.5px;
}
.ethereumText {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #e6e9ed;
  opacity: 0.7;
  margin-bottom: 4px;
  display: inline-block;
}
.ethVal {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 4px;
  display: inline-block;
}
.usdText {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #a5acbb;
  margin-bottom: 4px;
  display: inline-block;
}
.conversionText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  display: inline-block;
}
.gasFeeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.leftSideContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gasFeeText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a5acbb;
}
.editButton {
  width: 39px;
  height: 24px;
  background: #6f747d;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 8px;
  &:active {
    opacity: 0.7;
  }
}
.earthText {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #fafbfb;
}
.convertedVal {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #a5acbb;
}
.rightSideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.earthFeeContainer {
  @extend .gasFeeContainer;
}
.earthFeeRightSideContainer {
  @extend .rightSideContainer;
}
.earthVal {
  @extend .earthText;
}
.earthFeeText {
  @extend .gasFeeText;
}
.totalContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 20px;
}
.totalText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.rightSideTotalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.totalEarthVal {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #fafbfb;
}
.totalUSDVal {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #a5acbb;
}

.empty {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  margin-top: 3px;
  width: 39px;
  height: 39px;
}

.imgCont {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.footer {
  height: 180px;
  position: fixed;
  bottom: 0;
  width: $appWidth;
  padding: 0 24px;
  background: #34343447;
  backdrop-filter: blur(7px);
}

.scrollCont {
  flex-direction: column;
  height: 531px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 180px;
  display: flex;
  align-items: center;
}

.errorResponse {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  background: rgba(90, 89, 126, 0.39);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border-radius: 14px;
  margin: 3px 24px;
  padding: 12px 16px;
  background: rgba(112, 21, 0, 0.42);
  border: 1px rgba(90, 18, 2, 0.588) solid;
  color: #ffffff;
  width: calc(100vw - 32px);
  word-break: break-all;
}

.settleContainer {
  display: flex;
  flex-direction: column;
}
.swapCircleImg {
  margin-top: 180px;
  position: absolute;
  left: 0px;
  animation: rotation 10s infinite linear;
  z-index: 99;
}
.nftLoadingImg {
  margin-top: 180px;
  left: 0px;
  position: absolute;
  z-index: 109;
  width: 65px;
  height: 65px;
  border-radius: 5px;
  top: 221px;
  left: 155px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.quoteText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #a5acbb;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 88px;
  position: relative;
}
.submittingText {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  position: relative;
}
.progressBar {
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 7px;
  border-radius: 10px;
  margin-top: 16px;
  position: relative;
}
.leftSide {
  width: 74px;
  background: #2496ff;
  border-radius: 10px 0px 0px 10px;
}
.rightSide {
  width: 196px;
  background: #ffffff;
  opacity: 0.18;
  border-radius: 0px 10px 10px 0px;
}

.swapIcon {
  width: 32px;
  height: 32px;
  margin: 0 9px;
}

.swapToIcon {
  width: 54px;
  height: 54px;
  margin: 0 9px;
}

.swapTxt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
}

.swapCont {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    linear-gradient(
      206.09deg,
      rgba(255, 255, 255, 0.12) 6.74%,
      rgba(255, 255, 255, 0.06) 39.61%
    );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  display: flex;
  justify-content: center;
  margin-top: 18px;
  position: relative;
  flex-direction: column;
}

.swap {
  width: 329px;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.0528);
  border-radius: 14px;
}

.swapIconTxt {
  background: #eeeeee30;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  border: 1px solid #909090;
  color: #fafbfb;
}
.swapArrow {
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)),
    linear-gradient(
      206.09deg,
      rgba(255, 255, 255, 0.12) 6.74%,
      rgba(255, 255, 255, 0.06) 39.61%
    );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 36px;
  height: 36px;
  border-radius: 18px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 68px;
  left: 148px;
}

.swapAmount {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */

  text-align: right;

  color: #fafbfb;
}

.swapTxt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  /* identical to box height, or 100% */

  color: #fafbfb;
}

.swapArrowIcon {
  width: 14px;
}

.swapBelow {
  background: rgba(90, 89, 126, 0.39);
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swapBelowTxt {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;

  /* Brand / Moonlight Grey / 20% */

  color: #fafbfb;

  opacity: 0.7;
  margin: 6px 0 3px 0;
}

.swapBelowIcon {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px 0 0 0;
  background: #ffffff17;
  border-radius: 50%;
  border: 1px solid #595959;
  font-size: 16px;
}

.swapBelowVal {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  text-align: center;

  /* Brand / Moonlight Grey / 20% */

  color: #fafbfb;
}
.swapBelowUsd {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  /* Brand / Moonlight Grey / 20% */

  color: #fafbfb;

  opacity: 0.51;
  margin-bottom: 19px;
}
