.page {
  display: block;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  background: url('../../../../assets/images/bg_wallet_details.png');
}
.header {
  width: $appWidth;
}

.iconCopy {
  width: 17px;
  height: 20px;
}

.tabsPill {
  width: 29px;
  height: 3px;
  background: #175b99;
  border-radius: 29px;
  display: flex;
  flex-basis: 3px;
  min-height: 3px;
  margin-top: 9px;
}

.copyButton {
  width: 41.86px;
  height: 41.86px;
  background: #0d3151;
  display: flex;
  border-radius: 52.9397px;
  flex-basis: 42px;
  min-height: 42px;
  min-width: 42px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    opacity: 0.95;
    cursor: pointer;
  }
  &:active {
    opacity: 0.65;
    cursor: pointer;
  }
}

.copyCont {
  overflow: hidden;
  height: 42px;
  min-height: 42px;
}

.copyName {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.copyAddress {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.615578px;
  color: #e6e9ed;
}

.copyName {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  text-align: left;
  color: #fafbfb;
  opacity: 0.51;
}

.copyActionsView {
  border: 2px solid #2496ff40;
  box-sizing: border-box;
  border-radius: 49.2462px;
  width: 245px;
  height: 52px;
  padding: 0px 3px 0 15px;
  min-height: 52px;
  align-items: left;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.iconActions {
  margin-right: 10px;
}
.network-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: $moonLightGrey;
  opacity: 0.7;
}

.network-logo {
  height: 50px;
  width: 50px;
  margin-bottom: 16px;
  object-fit: contain;
  object-position: center;
  margin-top: 90px;
}

.primaryBalanceLabel {
  color: $textColor;
  font-family: $fontFamilyMono;
  font-size: 34px;
  line-height: 44px;
  height: 44px;
  text-align: center;
  margin: 3px;
  text-shadow: 0px 0px 11.4544px rgba(177, 204, 255, 0.89);
}

.secondaryBalanceLabel {
  color: $usdBalance;
  font-family: $fontFamilyMono;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.8;
  height: 21px;
}

.walletActionsView {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 18px;
  margin-bottom: 22px;
  margin-top: 46px;
}

.tokenActionView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tokenActionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2496ff;
  border-radius: 29px;
  background-color: $buttonBackground;
  padding: 8px 20px;
  &:hover {
    background-color: $buttonBackgroundHover;
    cursor: pointer;
  }
}

.tokenActionLabel {
  color: #fff;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 150%;
}

.sendTokenAction {
  margin-left: 7px;
}

.assetsAndActivityDiv {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  height: 64px;
  display: flex;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    rgba(36, 150, 255, 0.32);
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: pointer;
  background: linear-gradient(0deg, #071a28, #071a28),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    rgba(36, 150, 255, 0.32);
  justify-content: space-between;
  border: 1px solid #2496ff;
  border-bottom: 0px;
}

.tabsView {
  width: 340px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 12px 0px 24px;
}

.selectedTabView {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;

  text-align: center;
  color: #e6e9ed;
  opacity: 0.75;
  text-decoration: none;
}

.transactions-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
  height: 270px;
}

.transaction-item-div {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  font-size: 12px;
  border-bottom: 1px solid #1b63a677;
  align-items: center;
}

.transaction-type-icon {
  height: 16px;
  width: 16px;
  border: 1px solid #1b63a677;
  padding: 10px;
  border-radius: 50%;
  margin-right: 12px;
}

.transaction-detail-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.transaction-type {
  font-size: 16px;
}

.transaction-amount {
  font-size: 18px;
}
.transactionsCont {
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  opacity: 0.85;
  text-decoration: none;
  vertical-align: middle;
}

.networktext {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: $moonLightGrey;
  opacity: 0.7;
}

.networklogo {
  height: 50px;
  width: 50px;
  margin-bottom: 16px;
  object-fit: contain;
  object-position: center;
  margin-top: 90px;
}

.resetLink {
  text-decoration: none;
}
.resetLink:hover {
  opacity: 0.9;
  text-decoration: none;
}

.walletNoSupportActionsView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  margin-bottom: 22px;
  margin-top: 12px;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
}

.noSupportText {
  margin-bottom: 10px;
  display: flex;
  padding: 0 24px;
  align-items: center;
}

.exportIcon {
  transform: rotate(45deg);
  transform-origin: center center;
}

.noticeIcon {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}
