.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(71, 134, 255, 0.4) 0%,
    rgba(71, 134, 255, 0) 100%
  );
  background: url('../../../../assets/images/bg_tokens.png');
  height: $appHeight;
  width: $appWidth;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.empty {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-left: 1em;
  margin-top: 3px;
  width: 39px;
  height: 39px;
}

.loadingCont {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nftcardcont {
  cursor: pointer;
  user-select: none;
  &:active {
    opacity: 0.7;
  }
}
.stats {
  background: rgba(90, 89, 126, 0.39);
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
  width: calc(100vw - 20px);
  margin: 8px 16px;
}

.key {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Primary/White */

  color: #ffffff;

  opacity: 0.6;
}

.val {
  font-family: DM Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  /* Primary/White */

  color: #ffffff;
}

.statcol {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 9px 12px;
}

.statrow {
  display: flex;
}
