.page {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;
  background: url('../../../../assets/images/bg_wallet_details.png');
}
.headerIcon {
  position: static;
  width: 33px;
  height: 33px;

  background: rgba(255, 255, 255, 0.17);
  border-radius: 21px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #131a28;
  cursor: pointer;
  user-select: none;
}

.headerIconFirst {
  margin-left: 10px;
  margin-right: 10px;
  visibility: hidden;
}

.headerIcons {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
}

.backTransButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.backTransButton:active {
  opacity: 0.7;
}

.transColIcon {
  margin-right: 8px;
  margin-top: 2px;
}

.transCont {
  backdrop-filter: blur(7px);
  height: 568px;
  width: 343px;
  margin: 16px;
  border: 1px solid #2496ff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  padding: 12px;
  overflow: hidden;
}

.transTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  text-align: center;

  /* Brand / Moonlight Grey / 100% */
  color: #e6e9ed;
}

.transItem {
  border-bottom: 1px solid #ffffff1a;
  padding: 23px 0;
  display: flex;
  width: calc(340px - 32px);
  overflow: hidden;
}

.transColStatus {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 21px;
}
.transSubColTime {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  color: #fafbfb;

  opacity: 0.54;
  display: flex;
  align-items: center;
}

.transSubColPrice {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  color: #fafbfb;

  opacity: 0.54;
}

.transColAction {
  display: flex;
  align-self: center;
}

.transColValue {
  align-items: flex-end;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  text-align: end;
  flex: 1;
}
.transSubColDot {
  width: 2px;
  height: 2px;
  margin: 0 3px;
  border-radius: 6px;
  background: #989da9;
}

.transItems {
  height: 502px;
  overflow: hidden scroll;
  width: 317px;
}

.transAccount {
  margin-top: 24px;
  margin-bottom: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.transAddress {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  color: #fafbfb;

  opacity: 0.54;
}

.transAddressCont {
  display: flex;
  align-items: center;
}

.transAddress {
  margin-left: 10px;
}

.transCol1,
.transCol2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.54;
}

.transRow {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: 1px solid #ffffff1a;
  align-items: center;
}

.transError {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;

  opacity: 0.54;
  word-break: break-all;
}

.transErrorCont {
  display: flex;
  align-items: center;
  justify-content: center;
}
