.page {
  display: block;
  background: url('../../../../assets/images/bg_mnemonic.png');
  height: $appHeight;
  width: $appWidth;
  display: inline-block;
}

.nextCont {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px 30px;
}

.helpPassword {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  color: #ffffff;
  opacity: 0.5;
  margin: 20px 0;
}
.checkboxTitle {
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #ffffff;
  margin-left: 12px;
}
.checkboxIcon {
  cursor: pointer;
  user-select: none;
}
.checkboxCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 24px 0px;
}

.mnemonicCont {
  background: rgba(36, 150, 255, 0.22);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
  flex-wrap: wrap;
  display: flex;
  padding: 16px;
  border: 1px solid #3a60d4;
}

.mnemonicContWrap {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    rgba(36, 150, 255, 0.47);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
}

.mnemonicHelpTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  /* or 21px */

  text-align: center;

  color: #dbe4f2;
  margin-bottom: 12px;
}

.mnemonicHelpSubTitle {
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  /* or 18px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #dbe4f2;

  opacity: 0.8;
}
.mnemonicActionsCont {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}
.mnemonicActionIcon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.mnemonicAction {
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  padding: 4px 9px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  /* identical to box height, or 92% */

  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  cursor: pointer;
  user-select: none;
  &:active {
    opacity: 0.7;
  }
}

.mnemonicHelp {
  padding: 16px;
}

.mnemonicWords {
  background: rgba(0, 0, 0, 0.31);
  border-radius: 5px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px 5px 0px;
  padding: 4px 13px;
}

.labelText {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #dbe4f2;
  margin-bottom: 10px;
}

.mnemonicWords {
  font-family: DM Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #ffffff;
}
.earthInputCont {
  padding: 0 24px;
  margin: 20px 0;
}

.earthInputContPassword {
  padding: 0;
}

.earthInput {
  width: 100%;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: linear-gradient(0deg, rgba(8, 25, 39, 0.6), rgba(8, 25, 39, 0.6));
  border: 2px solid rgba(36, 150, 255, 0.5);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 12px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.025em;
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: #dbe4f2;
    opacity: 0.25;
  }
}
