.page {
  width: $appWidth;
  height: $appHeight - 180px;
  background: url(../../../assets/images/bg_dapp.png);
  background-size: cover;
  display: flex;
  overflow-y: scroll;
  color: white;
  flex-direction: column;
  padding-bottom: 90px;
}

.actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
}

.footer {
  height: 180px;
  position: fixed;
  bottom: 0;
  width: $appWidth;
  padding: 0 24px;
  background: #343434d1;
  backdrop-filter: blur(7px);
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 16px;
  /* identical to box height, or 72% */

  text-align: center;

  /* white/1 */

  color: #ffffff;
  margin: 36px 0 18px;
}

.label {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.value {
  background: rgba(90, 89, 126, 0.39);
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height, or 122% */
  word-break: break-all;
  /* white/1 */

  color: #ffffff;

  opacity: 0.51;
  padding: 16px 18px;
}

.requestBody {
  padding: 24px;
}

.footerSuccess {
  position: fixed;
  bottom: 0;
  width: $appWidth;
  padding: 0 24px;
  background: #34343447;
  backdrop-filter: blur(7px);
  display: flex;
  align-items: center;
  justify-content: center;
}
